<!DOCTYPE html>
<html lang="en">
  <head>
    <title>langa assessment password change</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="lang assessment portal">
    <meta name="keywords" content="lang assessment portal">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'webtheme/dist/js/adminlte.min.js' %}"></script>
    <!-- Data Table static files -->
    <link rel="stylesheet"
          href="{% static 'webtheme/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'webtheme/dist/css/adminlte.min.css' %}">
    <style type="text/css">
        .notifyred {
            color: #FF0000;
        }

        
.login-box, .register-box {
    width: 460px;
}
    </style>
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-warning">
        <div class="card-header text-center">
          <a href="" class="h5"><b>Set New Password</b></a>
        </div>
        <div class="card-body">
          <form method="post">
            <div class="input-group mb-3">
              {% csrf_token %}
              {{ ChangePasswordForm.newpassword }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              {{ ChangePasswordForm.confirmpassword }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">save and proceed</button>
              </div>
              <!-- /.col -->
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <ul class="list-unstyled">
                  <li class="text-bold">NOTE: Password must follow below criterias</li>
                  <li>Must have minimum 8 characters</li>
                  <li>Can have maximum 15 characters</li>
                  <li>Only alphabhets and numbers are allowed</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% if ChangePasswordForm.errors %}
                  {% for field in ChangePasswordForm %}
                    {% for error in field.errors %}
                      <h6 class="text-danger">
                        <strong>{{ field.label }}:</strong> {{ error }}
                      </h6>
                    {% endfor %}
                  {% endfor %}
                  {% for error in AssessmentForm.non_field_errors %}<p class="text-danger">{{ error }}</p>{% endfor %}
                {% endif %}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    $(document).ready(function () {
        $(document).on('focus', ':input', function () {
            $(this).attr('autocomplete', 'off');
        });
    });
    $('#Errmsg').hide();
    function showErrormsg(msg, classname, clearflag) {
        $("#Errmsg").attr('class', 'notify');
        $('#Errmsg').addClass(classname);
        $('#Errmsg').html(msg);
        $('#Errmsg').show();
        $('#Errmsg').delay(1000).fadeOut(3000);
        if (clearflag == 1) {
        }
    }
    let MessageCode = $('#HdfMessageCode').val();
    if (MessageCode == "AuthFailed") {
        showErrormsg('Authentication Failed.', 'notifyred', 0);
    }
    if (MessageCode == "InvalidLogin") {
        showErrormsg('Invalid Login Id or Password', 'notifyred', 0);
    }
    if (MessageCode == "PageException") {
        showErrormsg('Page Error! Please Escalate', 'notifyred', 0);
    }

    function ValidateForm(){
        let formelement=$('#txtbxloginid').val();
        if(formelement=='undefined' || formelement==''){
            showErrormsg('LoginID is not filled', 'notifyred', 0);
            $('#txtbxloginid').focus(); 
            return false;           
        }
        formelement=$('#txtbxpassword').val();
        if(formelement=='undefined' || formelement==''){
            showErrormsg('Password is not filled', 'notifyred', 0);
            $('#txtbxpassword').focus();  
            return false;          
        }
    }
  </script>
</html>
