name: assessment project ci
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install django
        pip install mysqlclient
        pip install django-environ
        pip install -r requirements.txt
    - name: Run migrations
      run: |
        python manage.py migrate
   